img {
  width: 300px;
}

body {
  text-align: center;
  background-color: #eaf6f6;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

footer {
  color: #66bfbf;
  margin-top: 30px;
}

footer a {
  margin: 0 10px;
}

a {
  cursor: pointer;
}

a:visited {
  color: #66bfbf;
}
